{% extends 'base.html' %}
{% block content %}
        {% comment %} <div class="grid grid-cols-1 h-full">
            <div class="h-12 border-red-600 border-2 overflow-hidden relative">
                <div class="grid grid-cols-2 h-12 items-center w-full">
                    <div class="scroll1 flex justify-between">
                        <p>* Certifications *</p>
                        <p>* Projects *</p>
                    </div>
                    <div class="scroll2 flex justify-between">
                        <p>* Work Experience *</p>
                        <p>* Web Applications *</p>
                    </div>
                </div>                
            </div> {% endcomment %}
            <div class="grid grid-cols-2">
                <div class="objective grid items-center text-center">
                    <h1 class="text-2xl">Welcome to my portfolio! I'm Banothu Srikanth, 
                        a passionate software developer skilled in Python Full Stack Development and Odoo Development</h1>
                </div>
                <div class="pro-images  grid items-center justify-end m-6">
                    <div class="w-full">
                        <img class="h-96 w-96 rounded-xl" src="./media/portfolio/static/img/IMG_20250218_095912.jpg">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}